.hospital-room {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  height: 50%;
  width: 100%;
  overflow-y: scroll;
  gap: 10px;
}
.hospital-room__button {
  background-color: rgba(173, 216, 230, 0);
  border: none;
  height: 130px;
}
.hospital-room-card {
  cursor: pointer;
  background-color: lightblue;
  border-radius: 10px;
  height: 130px;
  padding-bottom: 10px;
}
